.exam-container {
    width: 40%;
    display: inline-block;
    text-align: left;
    margin: 10px;
}

.question {
    font-weight: bold;
    font-size: 22px;
}

.title {
    font-size: 18px;
}

.question-picture {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.question-picture img {
    height: 60%;
}

.responses {
    font-size: 18px;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.question-button-container {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 0;
}

.question-number {
    margin: 20px;
    font-weight: bold;
}

.question-selector {
    width: 100%;
    text-align: center;
}

#timer {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.selected-question {
    box-shadow: 20px 20px;
}

.answer-status {
    font-weight: bold;
    font-size: 20px;
}

.response-container {
    margin-bottom: 8px;
}

.question-button {
    background-color: #e8e8e8;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-top: 9px;
    margin: 2px;
    width: 40px;
    height: 30px;
    text-decoration: none;
}

.selected {
    background-color: black;
    color: white;
}

.finish {
    background-color: #96d6ff;
}

.correct {
    background-color: #23a300;
    color: white;

}

.incorrect {
    background-color: #b20000;
    color: white;
}

.question-button:hover {
    background-color: black;
    color: white;
}

.question-button:active {
    position: relative;
    top: 1px;
}
