.main-container {
    width: 50%;
    border: 1px solid black;
    display: inline-block;
    text-align: left;
    margin: 20px;
}

.question {
    font-weight: bold;
    font-size: 22px;
}

.title {
    font-size: 18px;
}

.question-picture {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.question-picture img {
    width: 60%;
}

.responses {
    font-size: 18px;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.question-button-container {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.question-number {
    margin: 20px;
    font-weight: bold;
}

.question-selector {
    width: 100%;
    text-align: center;
}

#timer {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.selected-question {
    box-shadow: 20px 20px;
}

.answer-status {
    font-weight: bold;
    font-size: 20px;
}

.response-container {
    margin-bottom: 8px;
}