@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&subset=latin-ext,vietnamese');

#app {
    width: 100%;
    text-align: center;
}

* {
    font-family: 'Cabin', sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
}